@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Form.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <div>
        <form>
            <h1>Log in</h1>

                <label id="lbl-name" for="name">Username</label>
                <input type="text" id="name" name="user_name" />

                <label id="lbl-password" for="password">Password</label>
                <input type="password" id="password" name="user_password" />

                <button type="submit" id="test">Submit</button>
            <p></p>
            <div class="row">
                <div class="col-md-12">
                        <button type="submit" class="btn-primary">Button</button>
                    </div>
                    </div>

</form>
    </div>
</body>
</html>
