a{
    /*text-decoration:none;*/
    display:block;
    text-align:center;
    margin:0;
    padding:0;
    color:black;
}

a:hover{
    color:blue;
}

img {
    width: auto;
    height: 180px;
    display:block;
    margin:50px auto 0 auto;
    background-color:yellow;
}

#Name{
    margin-top:20px;
}

.margin-right{
    margin-right:25px;
}

.margin-top{
    margin-top:5px;
}

.test{
    background-color:yellow;
}

